@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  font-family: 'Roboto';
  background-color: rgb(241, 241, 241);
}

h1 {
  text-align: center;
}

#drum-machine {
  user-select: none;
  background-color: #fff;
  display: block;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 7%;
  border-radius: 2px;
  box-shadow: 1px 1px 4px rgb(173, 173, 173);
}

#board {
  width: 370px;
  display: inline-block;
  padding-top: 15px;
}

#controls {
  width: 230px;
  display: inline-block;
  vertical-align: top;
}

.drum-pad {
  width: 100px;
  height: 100px;
  display: inline-block;
  text-align: center;
  font-size: 26px;
  color: rgb(27, 27, 27);
  background-color: rgb(216, 216, 216);
  border-radius: 2px;
  margin-left: 15px;
  margin-bottom: 15px;
}

.drum-pad p {
  vertical-align: middle;
}

#controls {
  margin-top: 25%;
}

#display {
  color: #fff;
  background-color: rgb(105, 105, 105);
  font-size: 20px;
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 2px;
}